<div class="about-container">
  <mat-card class="about-card">
    <mat-card-header>
      <mat-card-title>About the Course Management System ✨</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Welcome to our **Course Management** platform!  
        Here you can manage and learn in a smart, convenient, and advanced way.  
        The platform is designed for administrators, teachers, and students, and includes a variety of features:
      </p>
  
      <mat-divider></mat-divider>
    </mat-card-content>
  </mat-card>
</div>
